:root {
  --purple-bg: #290742;
  --dark-bg: #170027;
  --button-bg: #9e6dc2;
  --white: #fff;
  --light-purple: #fbf6ff;
  --green: #4fff4b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-bar {
  background-color: var(--purple-bg);
}

#nav-bar {
  border-bottom: 5px solid var(--green);
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px 200px 100px;
}

.navigation .logo {
  width: 161px;
  height: 36px;
}

.menu {
  display: flex;
  gap: 25px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.menu a {
  text-decoration: none;
  color: var(--white);
}

.menu .active {
  padding-left: 5px;
  border-left: 3px solid var(--green);
}

.search {
  display: flex;
}

.search input {
  width: 230px;
  height: 44px;
  border: none;
  outline: none;
  padding-left: 20px;
  padding-right: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: var(--white);
  background-color: var(--dark-bg);
}

.search ::placeholder {
  color: var(--light-purple);
}

.search button {
  width: 70px;
  height: 44px;
  border: none;
  outline: none;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: var(--button-bg);
}

.search img {
  width: 24px;
  height: 24px;
}

.content {
  display: flex;
  justify-content: center;
  gap: 120px;
  padding-bottom: 100px;
}

.description {
  display: flex;
  flex-direction: column;
  width: 570px;
  gap: 20px;
}

.description .title {
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: var(--button-bg);
}

.description .paragraph {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: var(--light-purple);
}

.description .link {
  display: flex;
  text-decoration: none;
  width: 115px;
  gap: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: var(--button-bg);
}

.content .top-image {
  display: block;
  object-fit: cover;
  width: 570px;
  height: 346px;
}

.main-content {
  background-color: var(--light-purple);
}

.post-1 {
  display: flex;
  justify-content: center;
  gap: 220px;
  padding: 80px 300px;
}

.post-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 569px;
  gap: 10px;
}

.post-content #image {
  width: 569px;
  height: 342px;
}

.post-content .data {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: var(--dark-bg);
}

.post-content .title {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: var(--purple-bg);
}

.post-content .paragraph {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: var(--dark-bg);
}

.side-post {
  display: flex;
  flex-direction: column;
  width: 472px;
  gap: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: var(--dark-bg);
}

#side-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 472px;
  gap: 15px;
}

.post-2 {
  display: flex;
  justify-content: center;
  gap: 75px;
  padding-bottom: 50px;
}

#post-bottom {
  display: flex;
  flex-direction: column;
  width: 370px;
  height: 458px;
  gap: 15px;
}

@media (max-width: 900px) {
  body {
    background-color: var(--purple-bg);
  }

  .navigation {
    display: flex;
    flex-direction: column;
    padding: 50px 200px;
    margin: 0px;
    gap: 25px;
  }

  .navigation .logo, .search {
    margin-left: 0px;
    margin-right: 0px;
  }

  .content {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    gap: 30px;
    padding-bottom: 35px;
  }

  .description {
    width: 370px;
    height: 246px;
  }

  .description .title {
    font-size: 25px;
  }

  .description .paragraph {
    font-size: 15px;
  }

  .description .link {
    align-items: center;
    font-size: 15px;
  }

  .description .link img {
    width: 25px;
    height: 25px;
  }

  .content .top-image {
    width: 370px;
    height: 246px;
  }

  .content img {
    display: block;
    object-fit: cover;
    width: 370px;
    height: 246px;
    border-radius: 10px;
  }

  .main-content {
    padding-top: 50px;
  }

  .post-1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px;
    gap: 50px;
  }

  .post-content {
    display: flex;
    flex-direction: column;
    width: 370px;
  }

  .post-content #image {
    display: block;
    object-fit: cover;
    width: 370px;
    height: 246px;
    border-radius: 20px;
  }

  .side-post, #side-content  {
    display: flex;
    flex-direction: column;
    width: 370px;
  }

  .post-2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    padding-top: 50px;
    padding-bottom: 30px;
  }
}